:root {
  --main-font: 'MedievalSharp', sans-serif;
  --second-font: 'Roboto';
  --main-color: #3C4E91;
  --second-color: #EFBC2F;
  --third-color: #FAFAFA;
  --four-color: #134C3B;
  --fifth-color: #3a3a3a;
}

body {
  font-family: var(--second-font);
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  justify-content: center;
  height: 132px;
  background-color: var(--third-color);
  font-family: var(--main-font);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 880px;
}

.container .logo img {
  width: 124px;
  height: 124px;
}

.logo {
  display: flex;
  align-items: center;
  background-size: contain;
}

.menu {
  display: flex;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--fifth-color);
  padding: 15px;
  margin: 5px;
}

.active {
  background-color: var(--second-color);
  border-radius: 5px;


}

nav a:hover {
  background-color: var(--second-color);
  border-radius: 5px;
  transition-duration: 0.4s;
}


#banner {
  display: flex;
  justify-content: center;
  background-image: url(../images/hp.jpg);
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
}

.banner-headline h1 {
  color: var(--third-color);
  font-size: 50px;
  text-shadow: 1px 1px 0px #3a3a3a;
}

.banner-headline h2 {
  color: var(--third-color);
  font-size: 24px;
  text-shadow: 1px 1px 0px #3a3a3a;
}

.banner-options {
  height: 210px;
  display: flex;
}

.banner-options a {
  text-decoration: none;
  color: var(--third-color);
  border: 1px solid var(--third-color);
  padding: 5px;
  font-size: 18px;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
}

.banner1 {
  background-color: var(--main-color);
  padding: 20px;
}

.banner2 {
  background-color: var(--second-color);
  padding: 20px;
}

.banner3 {
  background-color: var(--four-color);
  padding: 20px;
}

.banner-title {
  font-size: 24px;
  color: var(--third-color);
}

.banner-desc {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--third-color);
}

.geral {
  display: flex;
  justify-content: center;
}

.geral section {
  flex: 2;
}

.geral aside {
  flex: 1;
}


.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget-title-text {
  color: var(--fifth-color);
  font-size: 24px;
  font-weight: bold;
}

.widget-title-bar {
  width: 70px;
  height: 2px;
  background-color: var(--main-color);
  margin-top: 5px;
}

.house-container {
  display: flex;
  flex-direction: row;
}

.house {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: var(--second-color);
}

article a {
  text-decoration: none;
}

article {
  flex: 1;
  min-width: 200px;
  margin-right: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article .news-data {
  display: flex;
  margin-top: 10px;
}

article .news-posted-at {
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news-comments {
  background-color: var(--four-color);
  color: var(--third-color);
  font-size: 12px;
  padding: 10px;
}

article .news-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--fifth-color);
  font-size: 24px;
}

article .news-image img {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

article .news-resume {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--fifth-color);
  font-size: 16px;
  line-height: 1.5;
}

.flex {
  display: flex;
}

footer {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
}

.footer-menu {
  display: flex;
  flex: 1;
}

.fm-1,
.fm-2,
.fm-3 {
  flex: 1;
  color: var(--third-color);
  padding: 20px;
}

.fm-1 {
  background-color: var(--main-color);
}

.fm-2 {
  background-color: var(--second-color);
}

.fm-3 {
  background-color: var(--four-color);
}

.flex-column {
  flex-direction: column;
}

.footer-area {
  display: flex;
}

.footer-item {
  flex: 1;
}

footer .widget-title-text {
  color: var(--third-color);
}

.footer-copy {
  border-top: #ccc 1px solid;
  height: 40px;
  line-height: 40px;
  color: var(--third-color);
  margin-top: 30px;
}

.menuMobile {
  display: none;
  height: 40px;
  width: 40px;
  margin-top: 44px;
  margin-bottom: 44px;
  margin-right: 24px;

}

.mm {
  height: 3px;
  background-color: var(--main-color);
}

/* start-media-query  */
@media (max-width:600px) {

  .banner-headline {
    padding: 24px;
  }

  .banner-headline h1 {
    font-size: 40px;
  }

  .banner-headline h2 {
    font-size: 18px;
  }

  .banner-options {
    height: auto;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .geral section,
  .geral aside {
    padding: 24px;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-area {
    flex-direction: column;
    padding: 24px;
  }

  .footer-copy {
    text-align: center;
  }

  header .container {
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--third-color);
  }

  header {
    height: auto;
  }

  .logo {
    padding-left: 24px;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

/* end-media-query  */