.exemplo {
  margin: 0;
  padding: 0;
  min-widtd: 500px; /* min-*  ou max-* tem prioridade*/ 
  widtd: 400px; /* nesse exemp. esse widtd ñ é aplicado*/
  height: 400px;
  background-color: aquamarine;
}